<%- include('./partials/header') %>

<h2>Chào mừng đến với Hệ thống quản lý phòng khám</h2>

<div class="card">
  <p>Hệ thống quản lý phòng khám, bao gồm:</p>
  
  <ol >
    <li><a href="/diseases">Thống kê bệnh</a> - Phân tích các loại bệnh được điều trị trong một khoảng thời gian</li>
    <li><a href="/salaries">Bảng lương</a> - Tính lương cho bác sĩ và y tá dựa trên công việc đã hoàn thành</li>
    <li><a href="/patients">Thông tin bệnh nhân</a> - Xem thông tin chi tiết và lịch sử khám chữa bệnh của bệnh nhân</li>
    <li><a href="/revenue">Báo cáo doanh thu</a> - Báo cáo doanh thu từ các hoạt động khám chữa bệnh</li>
  </ol>
</div>

<div class="card mt-4">
 
</div>

<%- include('./partials/footer') %>